<!DOCTYPE html>
<html lang="en">
 
<head>
    <title>Python Flask Recommendation Engine</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
</head>
 
<body>
  <div class=<"container">
<div >controls
<button> delete session cookie </button>
<form>
</div>
search fields
</form>
<div  class="jumbotron">
<h1>10 random movies or search results</h1>
</div>
<div  class="jumbotron">
<h1>recommended movies</h1>
</div>
<div  class="jumbotron">
<h1>selected movie(s) from a session cookie</h1>
</div>
  </div>
</body>
