<!doctype html>
<title>{% block title %}{% endblock %} - Flaskr</title>
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
<link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
<script src="{{ url_for('static', filename='cookies.js') }}"></script>
<nav>
  <h1>Flask Recommendation Engine</h1>
  <ul>
    <li><a href='/'>Random Movies</a></li>
    <li><a href='/recommend'>Recommended Movies</a></li>
    <li><a href='/search'>Search Movies</a></li>
    <li><a href='/selected'>Selected Movies</a></li>
  </ul>
</nav>
<section class="content">
  <header>
    {% block header %}{% endblock %}
  </header>
  <body {% block body_attrs %}{% endblock %}>
  {% for message in get_flashed_messages() %}
    <div class="flash">{{ message }}</div>
  {% endfor %}
  {% block content %}{% endblock %}
</section>
